.my-infiniti-visible-0em{
	display: block !important;
}

.my-infiniti-visible-36em{
	display: none !important;
}

.my-infiniti-visible-60em{
	display: none !important;
}

@media screen and (min-width: 36.3125em){ 
	.my-infiniti-visible-0em{
		display: none !important;
	}
	
	.my-infiniti-visible-36em{
		display: block !important;
	}
}

@media screen and (min-width: 60em){ 
	.my-infiniti-visible-36em{
		display: none !important;
	}
	
	.my-infiniti-visible-60em{
		display: block !important; 
	}
}

.my-infiniti-clear{
	clear: both;
}

.my-infiniti-text-center{
	text-align: center;
}

.my-infiniti-text-uppercase{
	text-transform: uppercase;
}

.my-infiniti-spacer{
	padding-top: 1.9166666667em;
}

.my-infiniti-img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.my-infiniti-price-container{
	width: 100% !important;
}

.my-infiniti-price-container li.msrp{
	float: none !important;
	width: 100% !important;
	max-width: 100% !important;
	text-align: center !important;
}

.my-infiniti-price-row .price{
	display: block !important;
}

.my-infiniti-btn-container{	
	letter-spacing: 0;
}

.my-infiniti-btn-container-top{
	padding-top: 0 !important;
	border-bottom: 0 !important;
	margin-bottom: 0 !important;
}
.my-infiniti-btn-container-empty{
	padding: 0 !important;
	border-bottom: 0 !important;
}

.my-infiniti-btn{
	font-family: "Infiniti Bold","Infiniti Extended Bold",Verdana,Arial,sans-serif;
    position: relative;
    display: inline-block;
    min-width: 290px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 1em 40px;
    border: 2px solid #000;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: .05em;
    text-transform: uppercase;
    background: 0 0;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.my-infiniti-btn:hover, .my-infiniti-btn2, .my-infiniti-btn-active{
	color: #000;
	background-color: #fff;
}

.my-infiniti-btn3{
	color: #000;
	background-color: transparent;
}

.my-infiniti-btn2:hover, .my-infiniti-btn3:hover{
	color: #fff;
	background-color: #000;
}

.my-infiniti-btn-big{
	margin: 1.5em auto;
	padding: 15px 50px;
	font-size: 20px;
	line-height: 24px;
	
}

#my-infiniti-details{
	padding-top: 2em;
}

#my-infiniti-details-top-left{
	float: left;
	width: 50%;
	padding-right: 15px;
}

#my-infiniti-details-top-right{
	position: relative;
	float: right;
	width: 50%;
	padding-left: 15px;
}

#my-infiniti-details-img{
	display: block;
}

#my-infiniti-details-img img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

#my-infiniti-details-gallery{
	margin: 1em -5px 0 -5px;
}

.my-infiniti-details-gallery-col{
	float: left;
	width: 20%;
	padding: 0 5px;
}

.my-infiniti-details-gallery-col-hidden{
	display: none;
}

.my-infiniti-details-gallery-img{
	padding: 5px;
	border: 1px solid #000;
}

.my-infiniti-details-gallery-img-outer{
	position: relative;
	padding-top: 75%;
	overflow: hidden;
}

.my-infiniti-details-gallery-img-inner{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
}

.my-infiniti-details-gallery-img-inner img{	
	position: relative;
	top: 50%;
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	transform: translateY(-50%);
}

.my-infiniti-details-data{
	font-size: 14px;
	line-height: 20px;
	padding-top: 10px;
	text-align: left;
}

#my-infiniti-details-prices{
	padding-top: 2em;
}

#my-infiniti-details-prices .my-infiniti-details-data{
	font-size: 24px;
	line-height: 40px;
}

#my-infiniti-details-prices .my-infiniti-details-data-del{
	font-size: 14px;
	line-height: 20px;
	color: #e5e5e5;
	text-decoration: line-through;
}

#my-infiniti-details-btn{
	padding-top: 2em;
}

#my-infiniti-details-btn .my-infiniti-btn{
	display: block !important;
	margin: 0 !important;
	max-width: 290px !important;
}

#my-infiniti-details-user{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 240px;
	padding: 10px;
	border: 1px solid #000;
}

.my-infiniti-users-item{
	display: inline-block;
	width: 23%;
	margin: 35px 1% 0 1%;
}

.my-infiniti-user-img img{
	display: block;
	max-width: 90%;
	margin: 0 auto;
}

.my-infiniti-user-name{
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
}

.my-infiniti-user-position{
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
}

.my-infiniti-user-data, .my-infiniti-user-data a{
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	color: inherit !important;
	cursor: pointer;
}

.my-infiniti-user-separator{
	height: 15px;
}

#my-infiniti-details-user .my-infiniti-user-separator{
	height: 12px;
}

#my-infiniti-details-menu{
	padding-top: 3em;
	margin: 0 -7px;
}

#my-infiniti-details-menu-border{
	position: relative;
	top: -2px;
	z-index: -1;
	border-bottom: 2px solid #000;
}

#my-infiniti-details-menu .my-infiniti-btn:hover, #my-infiniti-details-menu .my-infiniti-btn2, #my-infiniti-details-menu .my-infiniti-btn-active{
	border-bottom-color: #fff !important;
}

.my-infiniti-newcar-details-menu{
	padding-top: 3em;
	margin: 0 -7px;
}

.my-infiniti-newcar-details-menu-border{
	position: relative;
	top: -2px;
	z-index: -1;
	border-bottom: 2px solid #000;
}

.my-infiniti-newcar-details-menu .my-infiniti-btn{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.my-infiniti-newcar-details-menu .my-infiniti-btn:hover, .my-infiniti-newcar-details-menu .my-infiniti-btn2, .my-infiniti-newcar-details-menu .my-infiniti-btn-active{
	border-bottom-color: #fff !important;
}

.my-infiniti-details-item-hidden{
	display: none;
}

.my-infiniti-details-description{
	text-align: left;
	font-size: 1.1em;
	line-height: 150%;
}

.my-infiniti-select{
    display: block;
    width: 100%;
    padding: 1.1666666667em 15px;
	border: 1px solid #ccc !important;
    background-color: #fff;
	line-height: normal;
    text-transform: none;
    box-shadow: none;
}

.my-infiniti-input, .my-infiniti-textarea{
	border: 1px solid #ccc !important;
}

.my-infiniti-select:focus, .my-infiniti-input:focus, .my-infiniti-textarea:focus{
	border-color: #000 !important;
}

.my-infiniti-radio label{
	display: inline-block;
	margin: 0 0 0 20px !important;
	vertical-align: middle;
}

.my-infiniti-radio label:first-child{
	margin-left: 0 !important;
}

.my-infiniti-radio input{
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-top: 1px;
	margin-right: 5px;
	vertical-align: middle;
}

.my-infiniti-radio span{
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
}

.c_130 .header-group h3.car-title{
	height: 50px;
	overflow: hidden;
}

.c_130 .vehicle-link{
	padding-top: 60px;
}

#my-infiniti-hil-details-datas{
	margin: 0 -15px;
	padding-top: 30px;
}

#my-infiniti-hil-details-datas:after{
	clear: both;
}

#my-infiniti-hil-details-datas-left, #my-infiniti-hil-details-datas-right{
	float: left;
	width: 50%;
	padding: 0 15px;
	font-size: 14px;
	line-height: 20px;
}

#my-infiniti-hil-details-datas-right{
	float: right;
}

.my-infiniti-hil-details-datas-prices{
	font-weight: bold;
}

.my-infiniti-hil-details-datas-row{
	position: relative;
	margin: 0;
	padding: 10px 0;
	border-top: 1px solid #e7e7e7;
	vertical-align: middle;
}

.my-infiniti-hil-details-datas-row:after{
	clear: both;
}

.my-infiniti-hil-details-datas-row:first-child{
	border-top: 0;
}

.my-infiniti-hil-details-datas-col-left, .my-infiniti-hil-details-datas-col-right{
	float: left;
	width: 50%;
	padding: 0 15px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	vertical-align: middle;
	word-wrap: break-word;
}

.my-infiniti-hil-details-datas-col-under{
	position: relative !important;
	opacity: 0;
	visibility: hidden;
}

.my-infiniti-hil-details-datas-col-left{	
	text-transform: uppercase;
}

.my-infiniti-hil-details-datas-col-right{
	left: auto;
	right: 0;
	color: #8a8a8a;
}

.my-infiniti-hil-details-separator{
	height: 30px;
}

#my-infiniti-hil-details-datas-left .my-infiniti-hil-details-text-container{
	display: none;
}

.my-infiniti-hil-details-text-title{
	margin: 0 0 10px 0;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: bold;
}

.my-infiniti-hil-details-text{
	font-size: 14px;
	line-height: 20px;
	color: #8a8a8a;
}

@media screen and (min-width: 60em){
	.my-infiniti-newcars-col{
		width: 20% !important;
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	
	.my-infiniti-newcars-col .c_130{
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	
	.my-infiniti-newcars-col .c_130 .vehicle-strapline{
		display: block;
		margin-bottom: 0;
		min-height: 38px;
	}
}

@media screen and (max-width: 1270px){
	#my-infiniti-details-user{
		width: 230px;
	}
}

@media screen and (max-width: 1160px){
	#my-infiniti-details-user{
		position: relative;
		width: 100%;
		max-width: 290px;
		margin-top: 2em;
	}
}

@media screen and (max-width: 1060px){
	.my-infiniti-users-item{
		display: inline-block;
		width: 29%;
		margin-left: 2%;
		margin-right: 2%;
	}
}

@media screen and (max-width: 999px){
	.my-infiniti-btn{
		min-width: 0;
	}
	
	#my-infiniti-hil-details-datas-left, #my-infiniti-hil-details-datas-right{
		float: none;
		width: 100%;
	}
	
	#my-infiniti-hil-details-datas-left .my-infiniti-hil-details-text-container{
		display: block;
		padding-top: 30px;
	}
	
	#my-infiniti-hil-details-datas-right .my-infiniti-hil-details-text-container{
		display: none;
	}
}

@media screen and (max-width: 850px){
	.my-infiniti-btn{
		display: block;
		margin: 1em auto;
		width: 100%;
		max-width: 400px;
	}
	
	#my-infiniti-details-top-left, #my-infiniti-details-top-right{
		width: 100%;
		padding: 0;
	}
	
	#my-infiniti-details-top-left{
		margin-top: 2em;
	}
	
	.my-infiniti-details-data{
		text-align: center;
	}
	
	#my-infiniti-details-btn .my-infiniti-btn{
		margin: 0 auto !important;
		max-width: 400px !important;
	}
	
	#my-infiniti-details-user{
		margin-left: auto;
		margin-right: auto;
	}
	
	.my-infiniti-users-item{
		width: 48%;
		margin-left: 1%;
		margin-right: 1%;
	}
	
	.my-infiniti-users-item .my-infiniti-user{
		max-width: 290px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 550px){	
	.my-infiniti-details-gallery-col:nth-child(5){
		display: none;
	}
	
	.my-infiniti-details-gallery-col{
		width: 25%;
	}
}

@media screen and (max-width: 520px){
	.my-infiniti-users-item{
		display: block;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.mymodal-body .g-recaptcha{
			-webkit-transform: scale(.85);
			-ms-transform: scale(.85);
		transform: scale(.85);
			-webkit-transform-origin: 0 0;
			-ms-transform-origin: 0 0;
		transform-origin: 0 0;
	}
}

@media screen and (max-width: 400px){
	##my-infiniti-details-gallery{
		margin-top: 0;
	}
	
	.my-infiniti-details-gallery-col{
		width: 50%;
		margin-top: 1em;
	}
}

@media screen and (max-width: 339px){
	.g-recaptcha{
			-webkit-transform: scale(.85);
			-ms-transform: scale(.85);
		transform: scale(.85);
			-webkit-transform-origin: 0 0;
			-ms-transform-origin: 0 0;
		transform-origin: 0 0;
	}
	
	.mymodal-body .g-recaptcha{
			-webkit-transform: scale(.75);
			-ms-transform: scale(.75);
		transform: scale(.75);
			-webkit-transform-origin: 0 0;
			-ms-transform-origin: 0 0;
		transform-origin: 0 0;
	}
	
	.custom-radio .custom-selectbox .selectedValue, .custom-radio input[type=color], .custom-radio input[type=date], .custom-radio input[type=datetime-local], .custom-radio input[type=datetime], .custom-radio input[type=email], .custom-radio input[type=month], .custom-radio input[type=number], .custom-radio input[type=password], .custom-radio input[type=search], .custom-radio input[type=tel], .custom-radio input[type=text], .custom-radio input[type=time], .custom-radio input[type=url], .custom-radio input[type=week], .custom-radio textarea, .form-group .custom-selectbox .selectedValue, .form-group input[type=color], .form-group input[type=date], .form-group input[type=datetime-local], .form-group input[type=datetime], .form-group input[type=email], .form-group input[type=month], .form-group input[type=number], .form-group input[type=password], .form-group input[type=search], .form-group input[type=tel], .form-group input[type=text], .form-group input[type=time], .form-group input[type=url], .form-group input[type=week], .form-group textarea, .form-group.error .custom-selectbox .selectedValue, .form-group.error input[type=color], .form-group.error input[type=date], .form-group.error input[type=datetime-local], .form-group.error input[type=datetime], .form-group.error input[type=email], .form-group.error input[type=month], .form-group.error input[type=number], .form-group.error input[type=password], .form-group.error input[type=search], .form-group.error input[type=tel], .form-group.error input[type=text], .form-group.error input[type=time], .form-group.error input[type=url], .form-group.error input[type=week], .form-group.error textarea{
		max-width: 285px;
	}
}

.mymodal-open{
	overflow: hidden;
}

.mymodal{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000000;
	display: none;
	width: 100%; 
	height: 100%;
	overflow: auto;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.4);
}

.mymodal-content{
	width: 80%;
	max-width: 600px;
	margin: 30px auto;
	border: 1px solid #000;
	background-color: #fff;
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
	overflow: hidden;
}

.mymodal-header{
	position: relative;
	padding: 10px 40px 10px 20px;
	font-size: 2em;
	line-height: 135%;
	text-align: left;
	color: #fff;
	background-color: #000;
}

.mymodal-header .close{
	position: absolute;
	top: 7px;
	right: 15px;
	float: right;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	color: #aaa;
}

.mymodal-header .close:hover, .mymodal-header{
	color: #fff;
	cursor: pointer;
}

.mymodal-body{
	padding: 20px;
}		

.mymodal-footer{
	padding: 20px;
}

.mymodal-footer .my-infiniti-btn{
	min-width: 0;
}

.lp-img-text-container{
	position: relative;
}

.lp-img-text{
	position: absolute;
	top: 50px;
	left: 50px;
    width: 430px;
	padding: 30px 15px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, .7);
}

@media screen and (max-width: 767px){
	.lp-img-text{
		position: relative;
		top: 0;
		left: 0;
		width: 90%;
		margin: 0 auto;
		padding: 0 0 30px 0;
		background-color: transparent;
	}
}

.my-infiniti-car-menu{
	background-color: #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

.my-infiniti-car-menu2{
	border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

.my-infiniti-car-menu-content{
	font-size: 0;
	letter-spacing: 0;
	word-spacing: 0;
	vertical-align: middle;
	text-align: center;
}

.my-infiniti-car-menu-item{
	display: inline-block;
	margin: 0 9px;
	padding: 6px 5px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	font-family: "Infiniti Light", "Infiniti Extended Regular", Verdana, Arial, sans-serif;
	font-size: 12px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none !important;
	text-transform: uppercase;
	cursor: pointer;
}

.my-infiniti-car-menu-item:hover{
	opacity: .8;
}

.my-infiniti-car-menu-item-active{
	border-bottom-color: #000;
}

#my-infiniti-car-menubar{
	position: relative;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
}

.my-infiniti-car-menubar-fixed{
	position: fixed !important;
}

.my-infiniti-car-menubar-fixed .my-infiniti-car-menu + .my-infiniti-spacer{
	display: none;
}

@media screen and (max-width: 767px){
	.my-infiniti-car-menu-item{
		margin: 0;
		padding: 5px 10px;
		font-size: 14px;
	}
	
	.my-infiniti-car-menu-item + .my-infiniti-car-menu-separator{
		display: block;
		height: 5px;
	}
	
	.my-infiniti-car-menubar-fixed .my-infiniti-car-menu-item, .my-infiniti-car-menubar-fixed .my-infiniti-car-menu-separator{
		display: none;
	}
	
	.my-infiniti-car-menubar-fixed .my-infiniti-car-menu-item-offer{
		display: inline-block;
	}
	
	.my-infiniti-car-menubar-fixed .my-infiniti-car-menu + .my-infiniti-spacer{
		display: block;
	}
}

.my-infiniti-details-form-new .c_019{
	padding: 0;
}

.my-infiniti-details-form-new .c_019 > p:first-child{
	margin-top: 10px;
}

.video-container{
	position: relative;
	padding-top: 57%;
	padding-top: 56.25%;
	overflow: hidden;
}

.video{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}