<h2>Kedves Admin!</h2>
<p style="text-align: justify;">Az {INFINITI_GABLINI} készletes oldalon új kapcsolatfelvétel történt: <strong>{type}</strong>.</p>
<h2>Kapcsolatfelvétel adatai:</h2>
<table style="width: 100%; margin: 0 auto; border-collapse: collapse; border: 1px solid #000;">
	{details}
	{message}
</table>

<h2>Meta adatok:</h2>
<table style="width: 100%; margin: 0 auto; border-collapse: collapse; border: 1px solid #000;">
	{details2}
</table>

<h2>Autó adatok:</h2>
<table style="width: 100%; margin: 0 auto; border-collapse: collapse; border: 1px solid #000;">
	{details3}
</table>